body {
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 360px) {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
  }
}

p {
  color: #6b6b6b;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 360px) {
  .remove-margin-bottom {
    padding: 60px 0 30px 0;
  }
}
@media screen and (min-width: 768px) {
  .remove-margin-bottom {
    padding: 60px 0 30px 0;
  }
}
@media screen and (min-width: 1200px) {
  .remove-margin-bottom {
    padding: 94px 0 64px 0;
  }
}

@media screen and (min-width: 360px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.section {
  padding: 94px 0;
}
@media screen and (min-width: 360px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header {
  background-color: white;
  padding: 15px 0;
  border-bottom: 1px solid #6c6c6c;
  width: 100%;
  z-index: 2;
}
@media screen and (min-width: 360px) {
  .header {
    padding: 8px 0;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding: 13px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 15px 0;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 360px) {
  .header-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    margin-left: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .header-list {
    display: flex;
    margin-left: 60px;
  }
}

.img-logo {
  height: 40px;
}

.header__item {
  margin-right: 30px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: 0.5s;
  padding: 32px 0;
}
.header-link:hover {
  color: var(--accent-color);
}
.header-link:focus {
  color: var(--accent-color);
}

.header-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-btn-color);
}

.menu-open-btn {
  background: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-close-btn {
  background: transparent;
  border: none;
  position: absolute;
  top: 21px;
  right: 25px;
}
@media screen and (min-width: 768px) {
  .menu-close-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-close-btn {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}
.mob__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob__item:hover {
  color: #2196f3;
}
.mob__item:focus {
  color: #2196f3;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.hero {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hr-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 210px;
  text-align: center;
}
@media screen and (min-width: 360px) {
  .hero {
    padding: 118px 0;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 210px;
  }
}

.hero-container {
  width: 696px;
  margin: 0 auto;
}
@media screen and (min-width: 360px) {
  .hero-container {
    width: 75%;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    width: 696px;
  }
}

.hero-text {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
@media screen and (min-width: 360px) {
  .hero-text {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 768px) {
  .hero-text {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .hero-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero__btn {
  padding: 10px 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: rgba(196, 196, 196, 0.3137254902);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (min-width: 360px) {
  .hero__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
  }
}
@media screen and (min-width: 768px) {
  .hero__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms;
}

.backdrop.is-hidden .modal {
  transform: rotate(0) scale(0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg) scale(1);
  width: 528px;
  height: 515px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 360px) {
  .modal {
    width: 420px;
    height: 515px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 420px;
    height: 515px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 515px;
  }
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-input {
  display: block;
  width: 448px;
  height: 40px;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 4px;
}
@media screen and (min-width: 360px) {
  .modal-input {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .modal-input {
    width: 100%;
  }
}
.modal-close {
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover svg path {
  fill: rgba(196, 196, 196, 0.3137254902);
}

.modal-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

.comment {
  height: 120px;
}

textarea::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea {
  padding: 12px 16px;
  resize: none;
}

.name:focus,
.tel:focus,
.mail:focus,
.comment:focus {
  border: 1px solid rgba(196, 196, 196, 0.3137254902);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.submit {
  padding: 10px 55px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.submit-wrapper {
  text-align: center;
  margin-top: 30px;
}

.footer {
  background: #6c6c6c;
  padding: 60px 0;
}

.footer-logo-image {
  height: 50px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 360px) {
  .footer-wrapper {
    flex-direction: column;
    row-gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    row-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-wrapper {
    flex-direction: row;
  }
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  flex-basis: 70%;
}
@media screen and (min-width: 360px) {
  .footer-menu {
    flex-direction: column;
    row-gap: 40px;
  }
}
@media screen and (min-width: 768px) {
  .footer-menu {
    flex-direction: column;
    row-gap: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-menu {
    flex-direction: row;
  }
}

.footer-menu-block {
  flex: 1;
}

.footer-menu-header {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: large;
  font-weight: 600;
}

.footer-menu-link {
  color: #ffffff;
  line-height: 25px;
}

.about-title {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
}
@media screen and (min-width: 360px) {
  .about-title {
    font-weight: 900;
    font-size: 21px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 768px) {
  .about-title {
    font-weight: 900;
    font-size: 21px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .about-title {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.about-caption {
  font-size: 20px;
  text-align: center;
  line-height: 1.1;
}

.about-subtitle {
  margin-top: 30px;
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
}

.about-statistic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 28px;
  margin-top: 30px;
}
@media screen and (min-width: 360px) {
  .about-statistic {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 28px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .about-statistic {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 28px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about-statistic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 28px;
    margin-top: 30px;
  }
}

.stat-item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 125px 28px;
  background-color: rgba(0, 31, 255, 0.9215686275);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
@media screen and (min-width: 360px) {
  .stat-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 125px 28px;
    background-color: rgba(0, 31, 255, 0.9215686275);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
}
@media screen and (min-width: 768px) {
  .stat-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 125px 28px;
    background-color: rgba(0, 31, 255, 0.9215686275);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .stat-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 125px 28px;
    background-color: rgba(0, 31, 255, 0.9215686275);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
}

.stat-item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 29px 30px 8px 27px;
  background-color: rgba(229, 212, 7, 0.9215686275);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
@media screen and (min-width: 360px) {
  .stat-item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 29px 30px 8px 27px;
    background-color: rgba(229, 212, 7, 0.9215686275);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
}
@media screen and (min-width: 768px) {
  .stat-item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 29px 30px 8px 27px;
    background-color: rgba(229, 212, 7, 0.9215686275);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .stat-item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 29px 30px 8px 27px;
    background-color: rgba(229, 212, 7, 0.9215686275);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
}

.stat-item3 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 29px 31px 8px 26px;
  background-color: rgba(229, 212, 7, 0.9215686275);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
@media screen and (min-width: 360px) {
  .stat-item3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 29px 30px 8px 27px;
    background-color: rgba(229, 212, 7, 0.9215686275);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
}
@media screen and (min-width: 768px) {
  .stat-item3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 29px 30px 8px 27px;
    background-color: rgba(229, 212, 7, 0.9215686275);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .stat-item3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 29px 31px 8px 26px;
    background-color: rgba(229, 212, 7, 0.9215686275);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
}

.stat-item4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 27px 28px 6px 29px;
  background-color: rgba(229, 212, 7, 0.9215686275);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
@media screen and (min-width: 360px) {
  .stat-item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 29px 30px 8px 27px;
    background-color: rgba(229, 212, 7, 0.9215686275);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
}
@media screen and (min-width: 768px) {
  .stat-item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 29px 30px 8px 27px;
    background-color: rgba(229, 212, 7, 0.9215686275);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .stat-item4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 27px 28px 6px 29px;
    background-color: rgba(229, 212, 7, 0.9215686275);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
}

.stat-item5 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 25px 28px 4px 29px;
  background-color: rgba(229, 212, 7, 0.9215686275);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
@media screen and (min-width: 360px) {
  .stat-item5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    padding: 29px 30px 8px 27px;
    background-color: rgba(229, 212, 7, 0.9215686275);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
}
@media screen and (min-width: 768px) {
  .stat-item5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    padding: 29px 30px 8px 27px;
    background-color: rgba(229, 212, 7, 0.9215686275);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .stat-item5 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 25px 28px 4px 29px;
    background-color: rgba(229, 212, 7, 0.9215686275);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
}

.item1-num {
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: 0.2px;
  margin-bottom: 32px;
  color: #ffffff;
}

.item1-text {
  font-weight: 800;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #ffffff;
}

.item-num {
  font-weight: bold;
  font-size: 48px;
  line-height: 40px;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
}

.item-text {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #000000;
}

.stat {
  padding: 50px 0;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/ffm-news-image-063.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: left;
}
@media screen and (min-width: 360px) {
  .stat {
    padding: 30px 0;
  }
}
@media screen and (min-width: 768px) {
  .stat {
    padding: 30px 0;
  }
}
@media screen and (min-width: 1200px) {
  .stat {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.hero-container {
  width: 696px;
  margin: 0 auto;
}
@media screen and (min-width: 360px) {
  .hero-container {
    width: 75%;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    width: 696px;
  }
}

.services-wrapper {
  display: flex;
  flex-direction: column;
}

.service-text-title {
  grid-column: 2/3;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
  font-size: large;
}

.service-items {
  display: flex;
  justify-content: space-between;
  margin: 0 60px;
}
@media screen and (min-width: 360px) {
  .service-items {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .service-items {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .service-items {
    flex-direction: row;
  }
}

.service-icon-wrapper {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  background-color: rgba(229, 212, 7, 0.9215686275);
  padding: 5px;
}

.service-text {
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
}

.service-icon {
  height: 80px;
}

.service-item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-img {
  overflow: hidden;
}

.service-cover {
  height: 320px;
  margin: 0;
}

.service-title {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
}
@media screen and (min-width: 360px) {
  .service-title {
    font-weight: 900;
    font-size: 21px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 768px) {
  .service-title {
    font-weight: 900;
    font-size: 21px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .service-title {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.jobs-title {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
}
@media screen and (min-width: 360px) {
  .jobs-title {
    font-weight: 900;
    font-size: 21px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 768px) {
  .jobs-title {
    font-weight: 900;
    font-size: 21px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .jobs-title {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.jobs {
  margin-bottom: 30px;
}

.jobs-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
@media screen and (min-width: 360px) {
  .jobs-wrapper {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .jobs-wrapper {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .jobs-wrapper {
    flex-direction: row;
  }
}

.job-item {
  display: flex;
  flex-direction: column;
  width: 30%;
}
@media screen and (min-width: 360px) {
  .job-item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .job-item {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .job-item {
    width: 30%;
  }
}

.covered-image {
  position: relative;
  overflow: hidden;
}

.job-img {
  height: 200px;
}

.cover {
  position: absolute;
  top: -205px;
  left: 0;
  background-color: #e9edef;
  height: 100%;
  transition: 0.5s;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  border-top: #6c6c6c solid 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.covered-image:hover .cover {
  opacity: 1;
  top: 0;
  pointer-events: all;
}

.job-description {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #6c6c6c;
}

.cover-btns {
  text-align: center;
}

.job-btn1 {
  padding: 10px 32px;
  margin: 5px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: rgba(0, 31, 255, 0.9215686275);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (min-width: 360px) {
  .job-btn1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
  }
}
@media screen and (min-width: 768px) {
  .job-btn1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .job-btn1 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
  }
}

.job-btn2 {
  padding: 10px 32px;
  margin: 5px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;
  color: #000000;
  background: rgba(229, 212, 7, 0.9215686275);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (min-width: 360px) {
  .job-btn2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
  }
}
@media screen and (min-width: 768px) {
  .job-btn2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .job-btn2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
  }
}

.contact-title {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
}
@media screen and (min-width: 360px) {
  .contact-title {
    font-weight: 900;
    font-size: 21px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 768px) {
  .contact-title {
    font-weight: 900;
    font-size: 21px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .contact-title {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.about-text {
  margin: 10px 0;
  text-align: center;
}

.contacts {
  margin-bottom: 30px;
}

#map {
  width: 100%;
  height: 360px;
  padding: 0;
  margin: 0;
}

.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 360px) {
  .contact-wrapper {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .contact-wrapper {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.contact-text {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  align-self: center;
}
@media screen and (min-width: 360px) {
  .contact-text {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .contact-text {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media screen and (min-width: 1200px) {
  .contact-text {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.contact-map {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
@media screen and (min-width: 360px) {
  .contact-map {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .contact-map {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .contact-map {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

.contact-list {
  line-height: 32px;
}/*# sourceMappingURL=main.css.map */