.about-title {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
  @media screen and (min-width: 360px) {
    font-weight: 900;
    font-size: 21px;
    line-height: 42px;
    /* or 162% */

    text-align: center;
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: 768px) {
    font-weight: 900;
    font-size: 21px;
    line-height: 42px;
    /* or 162% */

    text-align: center;
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.about-caption {
    font-size: 20px;
    text-align: center;
    line-height: 1.1;
}

.about-subtitle {
    margin-top: 30px;
    text-align: center;
    font-size: 36px;
    line-height: 1.1;
}

.about-statistic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 28px;
    margin-top: 30px;
    @media screen and (min-width: 360px) {
      display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 28px;
    margin-top: 30px;
    }
    @media screen and (min-width: 768px) {
      display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 28px;
    margin-top: 30px;
    }
    @media screen and (min-width: 1200px) {
      display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 28px;
    margin-top: 30px;
    }
}

.stat-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 125px 28px;
    background-color: #001fffeb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    @media screen and (min-width: 360px) {
      grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 125px 28px;
    background-color: #001fffeb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    }
    @media screen and (min-width: 768px) {
      grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 125px 28px;
    background-color: #001fffeb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    }
    @media screen and (min-width: 1200px) {
      grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 125px 28px;
    background-color: #001fffeb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    }
}

.stat-item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 29px 30px 8px 27px;
    background-color: #e5d407eb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    @media screen and (min-width: 360px) {
      grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 29px 30px 8px 27px;
    background-color: #e5d407eb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    }
    @media screen and (min-width: 768px) {
      grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 29px 30px 8px 27px;
    background-color: #e5d407eb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    }
    @media screen and (min-width: 1200px) {
      grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 29px 30px 8px 27px;
    background-color: #e5d407eb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    }
}

.stat-item3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 29px 31px 8px 26px;
    background-color: #e5d407eb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    @media screen and (min-width: 360px) {
      grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 29px 30px 8px 27px;
    background-color: #e5d407eb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    }
    @media screen and (min-width: 768px) {
      grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 29px 30px 8px 27px;
    background-color: #e5d407eb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    }
    @media screen and (min-width: 1200px) {
      grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 29px 31px 8px 26px;
    background-color: #e5d407eb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    }
}

.stat-item4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 27px 28px 6px 29px;
    background-color: #e5d407eb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    @media screen and (min-width: 360px) {
      grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 29px 30px 8px 27px;
    background-color: #e5d407eb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    }
    @media screen and (min-width: 768px) {
      grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 29px 30px 8px 27px;
    background-color: #e5d407eb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    }
    @media screen and (min-width: 1200px) {
      grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 27px 28px 6px 29px;
    background-color: #e5d407eb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    }
}

.stat-item5 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 25px 28px 4px 29px;
    background-color: #e5d407eb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    @media screen and (min-width: 360px) {
      grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    padding: 29px 30px 8px 27px;
    background-color: #e5d407eb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    }
    @media screen and (min-width: 768px) {
      grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    padding: 29px 30px 8px 27px;
    background-color: #e5d407eb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    }
    @media screen and (min-width: 1200px) {
      grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 25px 28px 4px 29px;
    background-color: #e5d407eb;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    }
}

.item1-num {
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    letter-spacing: 0.2px;
    margin-bottom: 32px;
    color: #ffffff;
}

.item1-text {
    font-weight: 800;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #ffffff;
}

.item-num {
    font-weight: bold;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: 0.2px;
    // color: #1c3664;
    margin-bottom: 16px;
}

.item-text {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #000000;
}

.stat {
    padding: 50px 0;
    background: linear-gradient(#2f303a66, #2f303a66), url("../../images/ffm-news-image-063.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #c4c4c4;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
    // margin-top: 90px;
    @media screen and (min-width: 360px) {
      
      padding: 30px 0;
      // margin-top: 75px;
    }
    @media screen and (min-width: 768px) {
      padding: 30px 0;
      // margin-top: 90px;
    }
    @media screen and (min-width: 1200px) {
      width: 100%;
      padding-top: 50px;
    padding-bottom: 50px;
    // margin-top: 90px;
    }
  }
  
  .hero-container {
    width: 696px;
    margin: 0 auto;
    @media screen and (min-width: 360px) {
      width: 75%;
    }
    @media screen and (min-width: 768px) {
      width: 50%;
    }
    @media screen and (min-width: 1200px) {
      width: 696px;
    }
}
