.contact-title {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
  @media screen and (min-width: 360px) {
    font-weight: 900;
    font-size: 21px;
    line-height: 42px;
    /* or 162% */

    text-align: center;
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: 768px) {
    font-weight: 900;
    font-size: 21px;
    line-height: 42px;
    /* or 162% */

    text-align: center;
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.about-text {
  margin: 10px 0;
  text-align: center;
}

.contacts {
  margin-bottom: 30px;
}

#map {
  width: 100%;
  height: 360px;
  padding: 0;
  margin: 0;
}

.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 360px) {
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.contact-text {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  align-self: center;
  @media screen and (min-width: 360px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
  @media screen and (min-width: 768px) {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  @media screen and (min-width: 1200px) {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.contact-map {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  @media screen and (min-width: 360px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
  @media screen and (min-width: 768px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
  @media screen and (min-width: 1200px) {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

.contact-list {
  line-height: 32px;
}
