.footer {
    background: #6c6c6c;
    padding: 60px 0;
}

.footer-logo-image {
    height: 50px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 360px) {
        flex-direction: column;
        row-gap: 30px;
      }
      @media screen and (min-width: 768px) {
        flex-direction: column;
        row-gap: 30px;
      }
      @media screen and (min-width: 1200px) {
        flex-direction: row;
      }
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    flex-basis: 70%;
    @media screen and (min-width: 360px) {
        flex-direction: column;
        row-gap: 40px;
      }
      @media screen and (min-width: 768px) {
        flex-direction: column;
        row-gap: 40px;
      }
      @media screen and (min-width: 1200px) {
        flex-direction: row;
      }
}

.footer-menu-block {
    flex: 1;
}

.footer-menu-header {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: large;
    font-weight: 600;
}

.footer-menu-link {
    color: #ffffff;
    line-height: 25px;
}