.jobs-title {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 30px;
    @media screen and (min-width: 360px) {
      font-weight: 900;
      font-size: 21px;
      line-height: 42px;
      /* or 162% */
  
      text-align: center;
      letter-spacing: 0.06em;
    }
    @media screen and (min-width: 768px) {
      font-weight: 900;
      font-size: 21px;
      line-height: 42px;
      /* or 162% */
  
      text-align: center;
      letter-spacing: 0.06em;
    }
    @media screen and (min-width: 1200px) {
      font-weight: 900;
      font-size: 40px;
      line-height: 1.36;
      letter-spacing: 0.06em;
    }
  }

  .jobs {
    margin-bottom: 30px;
  }

  .jobs-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    @media screen and (min-width: 360px) {
      flex-direction: column;
    }
    @media screen and (min-width: 768px) {
      flex-direction: column;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }
  }

  .job-item {
    display: flex;
    flex-direction: column;
    width: 30%;
    @media screen and (min-width: 360px) {
      width: 100%;
    }
    @media screen and (min-width: 768px) {
      width: 100%;
    }
    @media screen and (min-width: 1200px) {
      width: 30%;
    }
  }

  .covered-image {
    position: relative;
    overflow: hidden;
  }

  .job-img {
    height: 200px;
  }

  .cover {
    position: absolute;
    top: -205px;
    left: 0;
    background-color: #e9edef;
    height: 100%;
    transition: 0.5s;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    border-top: #6c6c6c solid 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.covered-image:hover .cover {
    opacity: 1;
    top: 0;
    pointer-events: all;
  }

  .job-description {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #6c6c6c;
  }

  .cover-btns {
    text-align: center;
  }
  .job-btn1 {
    padding: 10px 32px;
    margin: 5px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: rgba(0,31,255,.9215686275);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    @media screen and (min-width: 360px) {
      font-weight: 700;
font-size: 16px;
line-height: 30px;
    }
    @media screen and (min-width: 768px) {
      font-weight: 700;
font-size: 16px;
line-height: 30px;
    }
    @media screen and (min-width: 1200px) {
      font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    }
  }

  .job-btn2 {
    padding: 10px 32px;
    margin: 5px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
    text-align: center;
    letter-spacing: 0.06em;
    color: #000000;
    background: rgba(229,212,7,.9215686275);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    @media screen and (min-width: 360px) {
      font-weight: 700;
font-size: 16px;
line-height: 30px;
    }
    @media screen and (min-width: 768px) {
      font-weight: 700;
font-size: 16px;
line-height: 30px;
    }
    @media screen and (min-width: 1200px) {
      font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    }
  }