.services-wrapper {
    display: flex;
    flex-direction: column;
    
}

.service-text-title {
    grid-column: 2/3;
    text-align: center;
    // margin-left: 21px;
    margin-top: 20px;
    font-weight: 600;
    font-size: large;
}

.service-items {
    // grid-row: 1/3;
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
    @media screen and (min-width: 360px) {
        flex-direction: column;
      }
      @media screen and (min-width: 768px) {
        flex-direction: column;
      }
      @media screen and (min-width: 1200px) {
        flex-direction: row;
      }
}

.service-icon-wrapper {
    display: inline-block;
    // width: 24%;
    text-align: center;
    vertical-align: top;
    background-color: #e5d407eb;
    padding: 5px;
}

.service-text {
    text-align: center;
    display: inline-block;
    // width: 75%;
    // width: 62%;
    margin-bottom: 10px;
}

.service-icon {
    height: 80px;
}

.service-item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-img {
    overflow: hidden;
}

.service-cover {
    height: 320px;
    margin: 0;
}

.service-title {
    font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 30px;
  @media screen and (min-width: 360px) {
    font-weight: 900;
    font-size: 21px;
    line-height: 42px;
    /* or 162% */

    text-align: center;
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: 768px) {
    font-weight: 900;
    font-size: 21px;
    line-height: 42px;
    /* or 162% */

    text-align: center;
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}